__pycache__/
*.py[cod]
*$py.class
*.pyc
*.so
.coverage
.coverage.*
.Python
.idea/
.vscode/
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
*.egg
*.log
.ipynb_checkpoints/
.DS_Store
Thumbs.db
tmp/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
*.app
*.dmg
.pyinstaller/
packages/maestro-musescore-bridge/testing/*.json
